<%- include('./partials/head.ejs') %>

<%- include('./partials/nav.ejs') %>

  <section id="hero" class="d-flex align-items-center shadow-lg p-3 mb-5 bg-white rounded">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>Choose the best out of best</h1>
      <h2>Seach for any school, college, university or teacher</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section>

  <main id="main">
    <section id="about-web-app" class="about">
      <div class="container">
        <div class="row content">
          <div class="col-lg-1 col-md-1"></div>
          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <h2>Choosing <br> Simplified</h2>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <p><b><u><i>Choosing Simplified</i></u></b>  or <b><u><i>C.S.</i></u></b> is web applaiction which is collection of all the schools, colleges,  universities, teachers. <br><br>
              Users can add or comment about their schools, colleges,  universities, teachers(from kidergarden level way upto university level). User-generated content makes Rate My Teacher the trafficked site for quickly researching and rating teachers, colleges and schools across the India. 
              <br><br>
              Rate My Teachers is mainly built for college students. Choosing the best courses and professors is a right of every student, and connecting with peers on the site has become a key way for millions of students to navigate this process. The site does checking in with each other – their friends, their brothers, their sisters, their classmates – to figure out who's a great professor and who's one you might want to avoid.</p>
          </div>
        </div>

      </div>
    </section>

    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up"><%= data.totalSchools %></span>
            <p>Schools</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up"><%= data.totalColleges %></span>
            <p>Colleges</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up"><%= data.totalTeachers %></span>
            <p>Teachers</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up"><%= data.totalUsers %></span>
            <p>Total Users</p>
          </div>

        </div>

      </div>
    </section>

    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>Testimonials</h2>
              <p>Few latest kind words from our beloved users on how this website has been helpful to them to choose the best without much heistation. </p>
            </div>
          </div>
          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <div class="owl-carousel testimonials-carousel">

              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Teaching kids to count is fine, but teaching them what counts is best. 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  <br><br>
                </p>
                <img src="img/aboutMe.png" class="testimonial-img" alt="">
                <h3>Bob Talbert</h3>
              </div>

              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Tell me and I forget. Teach me and I remember. Involve me and I learn.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  <br><br>
                </p>
                <img src="img/aboutMe.png" class="testimonial-img" alt="">
                <h3>Benjamin Franklin</h3>
              </div>

              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Teachers have three loves: love of learning, love of learners, and the love of bringing the first two loves together.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  <br><br>
                </p>
                <img src="img/aboutMe.png" class="testimonial-img" alt="">
                <h3>Scott Hayden</h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <a name="aboutme"></a>
    <section id="about-me" class="team">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>About  me</h2>
              <p>Passinate about technology and like to buid and break web.</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-lg-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <div class="pic"><img src="img/aboutMe.png" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Bhagat Singh</h4>
                    <span>Engineering Student</span>
                    <p>Full stack developer</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <hr>
      </div>
    </section>

    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="section-title">
              <h2>Contact</h2>
              <p>For more inforamtion, you can directly contact me at my place which is mentioned below.</p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248849.88654003857!2d77.49085274762706!3d12.953959987171352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1589258006265!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>

            <div class="info mt-4">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>Bengaluru, Karnataka, India</p>
            </div>
            <div class="row">
              <div class="col-lg-6 mt-4">
                <div class="info">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>test@test.com</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info w-100 mt-4">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 999 0000 777</p>
                </div>
              </div>
            </div>

            <form action="/" method="post"  class="php-email-form mt-4">
              <div class="text-center"><h4 class="optionText">Your valuable feedback</h4></div>
              <br>
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"  />
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"  />
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" />
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

<%- include('./partials/footer.ejs') %>

<%- include('./partials/end.ejs') %>  

