<%- include('../partials/head.ejs') %>

<%- include('../partials/nav.ejs') %>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Schools List</h2>
          <ol>
            <li>Home</li>
            <li>Schools List</li>
          </ol>
        </div>
      </div>
    </section>

    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container" data-aos="fade-up" data-aos-delay="100">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="/img/pic1.jpg" class="img-fluid" alt="">
            <img src="/img/pic2.jpg" class="img-fluid" alt="">
            <img src="/img/pic3.jpg" class="img-fluid" alt="">
          </div>
      </div>
    </section>

    <section class="container">
      <div class="cards">
        <% if(schools.length) { %>
          <% for(let school of schools) { %>
            <div class="card ">
              <div class="row">
                <div class="div-card-img col-md-4 col-xs-4">
                  <img class="pic" src="/<%= school.imagePath %>" alt="">
                </div>
                <div class="card-details col-md-8 col-xs-8">
                  <div>
                    <a class="div-lable-title div-label" href="/schools/school-details/<%=school._id %>"><h2><u><b><i><%= school.name %></i></b></u></h2> </a>
                  </div>
                  <div class="div-label"><i class="fas fa-map-marker-alt icon"></i><%= school.location %></div>
                  <div class="div-label"><i class="fas fa-phone-alt icon"></i><b>+91 </b><%= school.phone %></div>
                  <div class="div-label"><i class="fas fa-globe-asia icon"></i><a href="<%= school.website %>"><%= school.website %></a> </div>
                  <div class="div-label"><i class="fa fa-link icon" ></i><a href="/schools/school-details/<%=school._id %>">More details</a></div>
                </div>
              </div>
            </div>
          <% } %>
        <% } else { %>
          <h1 class="text-center textColor">No Schools Registered</h1>
        <% } %>
      </div>
    </section>
  </main>

  <%- include('../partials/footer.ejs') %>

  <%- include('../partials/end.ejs') %>  
