<%- include('../partials/head.ejs') %>

<%- include('../partials/nav.ejs') %>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Teacher Details</h2>
          <ol>
            <li>Home</li>
            <li>Teacher Details</li>
          </ol>
        </div>
      </div>
    </section>


    <section class="container">
      <div class="div-main-img text-center">
        <img class="pic" src="/<%= teacher.imagePath %>" alt="School">
      </div>
      <br>
      <hr>
      <div>
        <h1 class="main-heading"><%= teacher.name %></h1>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-2"></div>
        <table class="all-details col-md-8">
          <thead >
            <tr class="row">
              <td class="col-md-4"></td>
              <td class="col-md-4"></td>
            </tr>
          </thead>
          <tbody>
            <tr class="table-row">
              <td><i class="fas fa-map-marker-alt icon"></i>Loaction</td>
              <td><%= teacher.location %></td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-phone-alt icon"></i>Contact Number</td>
              <td><b>+ 91 </b><%= teacher.phone %></td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-globe-asia icon"></i>Blog Website</td>
              <td><a href="<%= teacher.website %>"><%= teacher.website %></a> </td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-book icon"></i>Subjects Taught</td>
               <td><%= teacher.subjects[0] %>, <%= teacher.subjects[1] %></td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-star icon"></i>Taecher Rating</td>
              <td><%= teacher.stars %></td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-chalkboard"></i>Taeching Since</td>
              <td><%= teacher.teachingSince %> years</td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-university"></i>Teaching In</td>
              <td><%= teacher.instituteName %></td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-envelope-open-text"></i>Message</td>
              <td><%= teacher.message %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>

  <%- include('../partials/footer.ejs') %>

  <%- include('../partials/end.ejs') %>  
 